*, html, body, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: unset;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: #3e52a3;
}

.header {
  position: absolute;
  top: 56px;
  left: 0px;
  right: 0px;
  padding: 0px 25px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .header {
    width: 90%;
    margin: 0px auto;
    height: auto;
    gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    gap: 64px;
    padding: 0px 167px;
  }
}

.logo {
  display: flex;
}

.header__hum-icon {
  position: relative;
  width: 32px;
  height: 18px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .header__hum-icon {
    display: none;
  }
}

.header__hum-icon span {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  height: 2px;
  width: 100%;
  transition: 0.25s;
}

.header__hum-icon span:nth-child(2) {
  top: 8px;
}

.header__hum-icon span:nth-child(3) {
  top: 16px;
}

.header__hum-icon.open span:nth-child(1) {
  top: 8px;
  transform: rotate(135deg);
}

.header__hum-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.header__hum-icon.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-135deg);
}

nav {
  position: relative;
  pointer-events: none;
  opacity: 0;
  flex: 0 0 100%;
  background-color: #fff;
  margin-top: 37px;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  transition: 0.3s;
  transform: scale(0.8);
  top: -80px;
}
@media screen and (min-width: 1024px) {
  nav {
    position: static;
    flex: 1;
    opacity: 1;
    pointer-events: unset;
    transform: scale(1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: unset;
    margin-top: 0;
    padding: 0;
  }
}

nav.open {
  top: 0;
  pointer-events: unset;
  opacity: 1;
  transform: scale(1);
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .header__menu {
    flex-direction: row;
    margin-bottom: 0;
    gap: 48px;
  }
}

.header__menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu li a {
  color: #1F3E5A;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
@media screen and (min-width: 1024px) {
  .header__menu li a {
    color: #fff;
  }
}

.header__menu > li > a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}

.header__menu > li {
  position: relative;
}

.header__menu > li > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__menu > li > a > img {
  transition: 0.6s;
}

@media screen and (min-width: 1024px) {
  .header__menu > li > a > img:nth-child(1) {
    display: none;
  }
}

.header__menu > li > a > img:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__menu > li > a > img:nth-child(2) {
    display: block;
  }
}

.header__sub-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(45, 46, 64, 0.08);
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding: 0 17px;
  margin: 0;
  border-radius: 5px;
  transition: 0.4s;
}
@media screen and (min-width: 1024px) {
  .header__sub-menu {
    position: absolute;
    background-color: #fff;
    width: 150%;
    width: max-content;
    top: 100%;
    padding: 0 27px;
    align-items: flex-start;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  }
}

.header__sub-menu > li > a {
  color: #2d2e40;
  font-weight: 300;
  opacity: 0.75;
  font-size: 16px;
}

.header__sub-menu > li > a:hover {
  font-weight: 700;
}

.header__menu__space-between-a-li {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__menu__space-between-a-li {
    position: absolute;
    height: 27px;
    width: 140%;
    top: 100%;
  }
}

.header__sub-menu.open {
  margin-top: 24px;
  padding: 17px 17px;
}
@media screen and (min-width: 1024px) {
  .header__sub-menu.open {
    padding: 24px 24px;
    margin-top: 26px;
  }
}

.header__menu > li > a.open > img:nth-child(1) {
  transform: rotate(-180deg);
}

.header__menu > li > a.open > img:nth-child(2) {
  transform: rotate(-180deg);
}

.header__ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e8e4e4;
  gap: 24px;
  padding: 25px;
}
@media screen and (min-width: 1024px) {
  .header__ctas {
    flex-direction: row;
    border: none;
    padding: 0;
  }
}

.header__ctas a:nth-child(1) {
  color: #1F3E5A;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .header__ctas a:nth-child(1) {
    color: #fff;
  }
}

.header__ctas a:nth-child(2) {
  color: #fff;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: linear-gradient(135deg, #FF8F71, #FF3E55);
  padding: 15px 40px;
  border-radius: 28px;
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  .header__ctas a:nth-child(2) {
    background: #fff;
    color: #FF505C;
  }
}

.header__ctas a:nth-child(2):hover {
  background-color: #FF7B86;
  color: #fff;
}

.hero {
  height: 600px;
  background: url("../images/bg-pattern-intro-mobile.svg") no-repeat left -336px top -244px, linear-gradient(135deg, #FF8F71, #FF3E55);
  border-radius: 0px 0px 0px 100px;
}
@media screen and (min-width: 1024px) {
  .hero {
    background: url("../images/bg-pattern-intro-desktop.svg") no-repeat left -437px top -1339px, linear-gradient(135deg, #FF8F71, #FF3E55);
  }
}

.hero__content {
  display: block;
  text-align: center;
  padding-top: 1px;
}

h1 {
  margin-top: 195px;
  font-weight: 600;
  color: #fff;
  line-height: 55px;
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 54px;
    line-height: 88px;
    margin-top: 205px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 64px;
    line-height: 98px;
    margin-top: 225px;
  }
}

@media screen and (min-width: 1024px) {
  h1 br {
    display: none;
  }
}

.hero__p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 0px 30px;
}
@media screen and (min-width: 1024px) {
  .hero__p {
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__ctas {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero__ctas a:nth-child(1) {
  background-color: #fff;
  color: #FF505C;
  font-weight: 700;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  padding: 15px 0px;
  border-radius: 28px;
  transition: all 0.4s;
  width: 137px;
  box-sizing: content-box;
}

.hero__ctas a:nth-child(1):hover {
  background-color: #ff7b86;
  color: #fff;
}

.hero__ctas a:nth-child(2) {
  width: 137px;
  box-sizing: content-box;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  border-radius: 28px;
  border: 1px solid #ffffff;
  padding: 15px 0px;
  transition: all 0.4s;
}

.hero__ctas a:nth-child(2):hover {
  background-color: #fff;
  color: #ff7b86;
}

.second-section {
  overflow-x: hidden;
  padding: 0 24px;
}
@media screen and (min-width: 1024px) {
  .second-section {
    padding: 0;
    height: 800px;
  }
}
@media screen and (min-width: 1140px) {
  .second-section {
    height: 860px;
  }
}
@media screen and (min-width: 1240px) {
  .second-section {
    height: 920px;
  }
}
@media screen and (min-width: 1320px) {
  .second-section {
    height: 980px;
  }
}
@media screen and (min-width: 1440px) {
  .second-section {
    height: 1010px;
  }
}

.second-section h2 {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  line-height: 43px;
  letter-spacing: -0.84px;
  color: #1F3E5A;
}
@media screen and (min-width: 1140px) {
  .second-section h2 {
    font-size: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .second-section h2 {
    font-size: 40px;
    line-height: 61px;
    letter-spacing: -1.2px;
    margin-top: 158px;
  }
}

@media screen and (min-width: 1024px) {
  .second-section__row {
    display: flex;
    gap: 60px;
    padding-left: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .second-section__row {
    padding-left: 165px;
  }
}

.second-section__illu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  flex: 1;
}

.second-section__illu img:nth-child(1) {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .second-section__illu img:nth-child(1) {
    display: none;
  }
}

.second-section__illu img:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .second-section__illu img:nth-child(2) {
    position: absolute;
    top: -70px;
    right: -200px;
    display: block;
    width: 700px;
    max-width: unset;
  }
}
@media screen and (min-width: 1140px) {
  .second-section__illu img:nth-child(2) {
    width: 780px;
    top: -90px;
    right: -240px;
  }
}
@media screen and (min-width: 1240px) {
  .second-section__illu img:nth-child(2) {
    width: 840px;
    top: -90px;
    right: -240px;
  }
}
@media screen and (min-width: 1320px) {
  .second-section__illu img:nth-child(2) {
    width: 860px;
    top: -110px;
    right: -240px;
  }
}
@media screen and (min-width: 1440px) {
  .second-section__illu img:nth-child(2) {
    width: 885px;
    top: -140px;
    right: -260px;
  }
}

@media screen and (min-width: 1024px) {
  .second-section__text-part {
    flex: 0 0 440px;
  }
}
@media screen and (min-width: 1140px) {
  .second-section__text-part {
    flex: 0 0 480px;
  }
}
@media screen and (min-width: 1240px) {
  .second-section__text-part {
    flex: 0 0 500px;
  }
}
@media screen and (min-width: 1320px) {
  .second-section__text-part {
    flex: 0 0 520px;
  }
}
@media screen and (min-width: 1440px) {
  .second-section__text-part {
    flex: 0 0 540px;
  }
}

.second-section__text-part h3 {
  color: #1F3E5A;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .second-section__text-part h3 {
    text-align: left;
  }
}

.second-section__text-part h3:nth-child(1) {
  margin-top: 46px;
}
@media screen and (min-width: 1024px) {
  .second-section__text-part h3:nth-child(1) {
    margin-top: 85px;
  }
}

.second-section__text-part h3:nth-child(3) {
  margin-top: 40px;
}
@media screen and (min-width: 1440px) {
  .second-section__text-part h3:nth-child(3) {
    margin-top: 64px;
  }
}

.second-section__text-part p {
  color: #4c5862;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .second-section__text-part p {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .second-section__text-part p {
    margin-top: 16px;
  }
}

.third-section {
  margin-top: 272px;
  padding-top: 1px;
  border-radius: 0px 100px;
  height: 625px;
  background: url("../images/bg-pattern-circles.svg") no-repeat center bottom 258px/cover, linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
}

.third-section__illust {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -173px;
}

.third-section__text-part {
  padding: 0px 24px;
  text-align: center;
  color: #ffffff;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.third-section__text-part h3 {
  font-size: 40px;
  line-height: 61px;
  letter-spacing: -1.2px;
  font-weight: 600;
}

.third-section__text-part p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.fourth-section {
  padding: 0px 24px;
  margin-top: 80px;
}

.fourth-section__ilust {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .fourth-section img:nth-child(1) {
    display: none;
  }
}

.fourth-section img:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .fourth-section img:nth-child(2) {
    display: block;
  }
}

.fourth-section__text-part {
  margin-top: 46px;
  text-align: center;
}

.fourth-section__text-part h3 {
  color: #1F3E5A;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.fourth-section__text-part p {
  color: #4c5862;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 16px;
}

.fourth-section__text-part h3:nth-child(3) {
  margin-top: 40px;
}

/*# sourceMappingURL=app.css.map */
