.second-section {
  overflow-x: hidden;
  padding: 0 24px;

  @media screen and (min-width: 1024px) {
    padding: 0;
    height: 800px;
  }

  @media screen and (min-width: 1140px) {
    height: 860px;
  }

  @media screen and (min-width: 1240px) {
    height: 920px;
  }

  @media screen and (min-width: 1320px) {
    height: 980px;
  }

  @media screen and (min-width: 1440px) {
    height: 1010px;
  }
}

// h2

.second-section h2 {
  font-family: $ff-primary;
  font-weight: 600;

  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  line-height: 43px;
  letter-spacing: -0.84px;
  color: $primary-color;

  @media screen and (min-width: 1140px) {
    font-size: 34px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 40px;
    line-height: 61px;
    letter-spacing: -1.2px;
    margin-top: 158px;
  }
}

// second section row

.second-section__row {
  @media screen and (min-width: 1024px) {
    display: flex;

    gap: 60px;

    padding-left: 80px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 165px;
  }
}

// illustrations

.second-section__illu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  order: 2;

  flex: 1;
}

.second-section__illu img:nth-child(1) {
  margin-top: 38px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.second-section__illu img:nth-child(2) {
  display: none;
  @media screen and (min-width: 1024px) {
    position: absolute;
    top: -70px;
    right: -200px;

    display: block;

    width: 700px;
    max-width: unset;
  }

  @media screen and (min-width: 1140px) {
    width: 780px;
    top: -90px;
    right: -240px;
  }

  @media screen and (min-width: 1240px) {
    width: 840px;
    top: -90px;
    right: -240px;
  }

  @media screen and (min-width: 1320px) {
    width: 860px;
    top: -110px;
    right: -240px;
  }

  @media screen and (min-width: 1440px) {
    width: 885px;
    top: -140px;
    right: -260px;
  }
}

// second section text

.second-section__text-part {
  @media screen and (min-width: 1024px) {
    flex: 0 0 440px;
  }

  @media screen and (min-width: 1140px) {
    flex: 0 0 480px;
  }

  @media screen and (min-width: 1240px) {
    flex: 0 0 500px;
  }

  @media screen and (min-width: 1320px) {
    flex: 0 0 520px;
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 540px;
  }
}

.second-section__text-part h3 {
  color: $primary-color;
  font-size: 28px;
  line-height: 32px;
  text-align: center;

  font-family: $ff-primary;
  font-weight: 600;
  margin-bottom: 16px;

  @media screen and (min-width: 1024px) {
    text-align: left;
  }
}

.second-section__text-part h3:nth-child(1) {
  margin-top: 46px;
  @media screen and (min-width: 1024px) {
    margin-top: 85px;
  }
}

.second-section__text-part h3:nth-child(3) {
  margin-top: 40px;
  @media screen and (min-width: 1440px) {
    margin-top: 64px;
  }
}

.second-section__text-part p {
  color: #4c5862;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;

  font-family: $ff-primary;
  font-weight: 400;

  @media screen and (min-width: 1024px) {
    text-align: left;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 16px;
  }
}
