
// colors
$white: #fff;
$primary-color: #1F3E5A;
$secondary-color: #FF505C;

// gradient
$gradient-primary: linear-gradient(135deg,#FF8F71,#FF3E55);


// fonts
$ff-primary: "Overpass", Arial, Helvetica, sans-serif;
$ff-secondary: "Ubuntu", Arial, Helvetica, sans-serif;